
.activity-list {
  width: 100%;
  height: auto;
  background: #ececec;
  display: flex;
  font-family: MuseoSansCyrl700;
  justify-content: space-between;

  &:nth-child(even) {
    background: inherit;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  & .status {
    width: 102px;
    height: 56px;
    background: #0d1717;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: #ffd24f;

      & span {
        color: #0d1717;
      }
    }

    & span {
      color: #fcfcfc;
      font-size: 14px;
      font-family: MuseoSansCyrl700;
      font-weight: bold;
      line-height: 1.29;
      letter-spacing: 0.5px;
    }
  }

  & .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;

    & .count {
      background-color: #0d1717;

      & span {
        color: #fcfcfc;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.5px;
        font-family: MuseoSansCyrl500;
        padding: 5px;
        margin: 0 10px 0 10px;
      }

      &.active {
        background-color: #ffd24f;

        & span {
          color: #34343e;
        }
      }
    }

    & .info {
      & p {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        color: #34343e;
        font-family: MuseoSansCyrl500;
      }
    }
  }
}
