.list-panel-heading {
  display: flex;
  align-items: center;
  margin: 0 16px 14px 16px;
  justify-content: flex-start;

  & p {
    font-family: MuseoSansCyrl500;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0;
    line-height: 1.27;
    letter-spacing: 0.5px;
    color: rgba(13, 23, 23, 0.5);
    margin-bottom: 0;

    & span {
      color: rgba(13, 23, 23, 1);
    }
  }

  & h3 {
    font-family: MuseoSansCyrl700;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #0d1717;
    opacity: 0.5;

    &.small {
      font-size: 11px;
    }

    &:not(:first-child) {
      margin-left: 16px;
    }

    &.active {
      color: #34343e;
      border-bottom: 1px solid #000;
      opacity: 1;
    }
  }

  &.mr-t0 {
    h3 {
      margin-top: 0;
    }
  }

  &.flexleft {
    justify-content: flex-start;

    & h3:hover {
      cursor: pointer;
      border-bottom: 1px solid #000;
      color: #34343e;
      opacity: 1;
    }
  }
}

.list-panel-heading-offers {
  & h3 {
    margin: 0;
  }
}