
.offer-list {
  height: auto;
  background: #ececec;
  margin-bottom: 24px;
  padding: 16px;

  & h3 {
    font-family: MuseoSansCyrl700;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #34343e;
  }

  & .heading {
    display: flex;
    justify-content: space-between;

    & .title, & .count {
      margin: 0;
      font-family: MuseoSansCyrl700;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      color: #34343e;
      text-decoration: none;
    }

    & .title:hover {
      text-decoration: underline;
    }

    & .large {
      font-size: 24px;
    }
  }

  & .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .timeout {
      opacity: 0.6;
      font-family: MuseoSansCyrl700;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.13;
      color: #34343e;

      & .bold {
        font-weight: 500;
      }
    }
  }

  & .subtitle {
    opacity: 0.8;
    font-family: MuseoSansCyrl700;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    color: #34343e;
    margin-top: 6px;

    & .badge {
      border-radius: 2px;
      background-color: #ffd24f;
      font-family: MuseoSansCyrl700;
      font-size: 11px;
      font-weight: bold;
      line-height: 1.09;
      color: #0d1717;
      padding: 6px;
      text-align: center;
    }
  }

  & .description {
    opacity: 0.7;
    font-family: MuseoSansCyrl700;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.13;
    color: #34343e;
  }
}