table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td, th {
  padding: 16px;
}

.table {
  width: 100%;
  max-width: 100%;

  &.table-striped {
    & tbody {

      & tr {
        &:nth-child(odd) {
          background: #ececec;
        }
      }
    }
  }

  &.table-selected {
    & tbody {
      & tr {
        &:not(.disabled) {
          &:hover {
            background: #dedfdf;
            cursor: pointer;
          }
        }
      }
    }
  }

  &.table-bordered {
    & tbody {
      & tr {
        &:not(:first-child) {
          & th, & td {
            padding-top: 8px;
          }
        }

        & th, & td {
          padding-bottom: 8px;
        }

        &:last-child {
          & th, & td {
            padding-bottom: 16px;
          }
        }
      }
    }
  }

  &.table-gray {
    & tbody {
      & tr {
        background: #ececec;
      }
    }
  }

  & thead {
    & tr {
      & th {
        font-size: 16px;
        vertical-align: bottom;
        padding: 16px;
        line-height: 1.42857143;
        font-family: MuseoSansCyrl700;
        font-weight: bold;
        line-height: 1.17;
        text-align: left;
        color: #34343e;

        &.isArrow {
          display: flex;
          align-items: center;
        }
      }

      &:last-child {
        width: 1px;
        white-space: nowrap;
      }

      & .arrow_down {
        background-image: url(../img/sort-arrow.svg);
        width: 7.5px;
        height: 10px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 4px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  & tbody {
    & tr {
      & th, & td {
        font-size: 12px;
        padding: 16px;
        line-height: 1.42857143;
        vertical-align: top;
        font-family: MuseoSansCyrl500;
        font-weight: bold;
        vertical-align: middle;
      }

      & td {

        & .btn {
          font-size: 12px;

          & .play-icon {
            font-size: 8px;
          }
        }
      }

      & th {

        &.inline {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

      & td.full-btn {
        & button {
          width: 140px;
        }
      }

      &.disabled {
        & th, & td {
          opacity: 0.6;
        }

        & td {
          & .badge {
            &:hover {
              cursor: default;
            }
          }
        }
      }

      & .badge {
        text-decoration: none;
        font-family: MuseoSansCyrl500;
        color: #ffffff;
        border-radius: 2px;
        background-color: #0d1717;
        font-size: 12px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 3px;
        padding-bottom: 3px;

        &:not(:first-child) {
          margin-left: 6px;
        }

        &.active {
          background-color: #ffd24f;
          color: #0d1717;
        }
      }

      & td:last-child {
        width: 1px;
        white-space: nowrap;
        text-align: right;
      }
    }

    & .uploadfile {
      padding-top: 4px;
      padding-bottom: 4px;
      margin-left: 8px;
      border-radius: 2px;
      background-color: #d8d9d9;

      & span {
        font-family: MuseoSansCyrl500;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        text-align: center;
        color: #0d1717;
        margin: 12px;
      }

      &:hover {
        cursor: pointer;
        background: #b7b9b9;
      }
    }

    & .separator {

      & td {
        padding: 0 16px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        & .line {
          background: #d8d9d9;
          width: 100%;
          height: 1px;
        }
      }
    }
  }
}