.notif-panel {
  background-color: #f0f0f0;
  padding: 16px;
  margin-bottom: 12px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }
  .notif-panel .panel-heading {
    display: flex;
    justify-content: space-between; }
    .notif-panel .panel-heading .datetime {
      margin: 0;
      opacity: 0.6;
      font-family: MuseoSansCyrl300;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.12;
      color: #34343e; }
      .notif-panel .panel-heading .datetime .bold {
        font-weight: bold;
        font-family: MuseoSansCyrl500; }
  .notif-panel .title {
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.12;
    text-align: left;
    color: #34343e;
    margin: 0;
    display: flex;
    align-items: center; }
    .notif-panel .title:not(:first-child) {
      margin-top: 8px; }
    .notif-panel .title p {
      margin: 0; }
      .notif-panel .title p strong {
        font-weight: bold;
        font-family: MuseoSansCyrl700; }
    .notif-panel .title .accepted {
      font-weight: bold;
      font-family: MuseoSansCyrl700;
      color: #4bad6d;
      text-decoration: none; }
    .notif-panel .title .deleted {
      color: #ad4b4b;
      font-weight: bold;
      font-family: MuseoSansCyrl700; }
  .notif-panel .subtitle {
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.12;
    text-align: left;
    color: #34343e;
    margin-top: 8px;
    margin-bottom: 9px; }
  .notif-panel .changed-line {
    background-color: #d8d9d9;
    display: flex;
    align-items: center; }
    .notif-panel .changed-line:not(:last-child) {
      margin-bottom: 2px; }
    .notif-panel .changed-line .icon {
      font-family: MuseoSansCyrl300;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.12;
      color: #34343e;
      margin-left: 8px;
      margin-right: 8px; }
    .notif-panel .changed-line .message {
      font-family: MuseoSansCyrl300;
      font-size: 16px;
      font-weight: 300;
      text-align: left;
      color: #34343e; }
      .notif-panel .changed-line .message p {
        margin: 0; }
        .notif-panel .changed-line .message p em {
          background: #c2c4c4;
          padding: 0 5px;
          font-style: normal; }
    .notif-panel .changed-line.line-update {
      background: #ffecb6; }
      .notif-panel .changed-line.line-update p {
        margin: 0; }
        .notif-panel .changed-line.line-update p em {
          background: #ffd24f;
          padding: 0 5px;
          font-style: normal; }
