body {
  padding: 0;
  margin: 0;
  background: #f7f7f7; }

.dark {
  background: #4a4e65 !important; }
  .dark .empty-notif {
    background-color: #464657 !important; }
    .dark .empty-notif p {
      color: #ebeaf4 !important; }
  .dark .control-radio .control-indicator:after {
    background: #fcfcfc; }
  .dark .dropdown-list {
    box-shadow: 0 5px 20px 0 #4a4d5f; }
    .dark .dropdown-list ul {
      background-color: #5b5f73; }
      .dark .dropdown-list ul li {
        color: #fcfcfc; }
        .dark .dropdown-list ul li:hover {
          background-color: #6b6f86; }
  .dark .navbar {
    background-color: #3a3a4b; }
  .dark .datepicker-for-export .vdp-datepicker__calendar .day.highlighted, .dark .datepicker-for-export .vdp-datepicker__calendar .day.selected {
    background-color: #28388e !important; }
  .dark .datepicker-for-export .vdp-datepicker__calendar .cell.day.marked__min.highlighted {
    background-color: #3e4ea7 !important; }
  .dark .logout-link {
    color: #ff6c6c;
    border-radius: 4px; }
    .dark .logout-link:hover {
      text-decoration: none; }
  .dark .searchPanel .top {
    border-bottom: 1px solid #9093a1 !important; }
    .dark .searchPanel .top .searchControl input {
      color: #dedfdf;
      border-bottom: 1px solid rgba(222, 223, 223, 0.5);
      opacity: 1; }
      .dark .searchPanel .top .searchControl input::-webkit-input-placeholder {
        color: #dedfdf; }
      .dark .searchPanel .top .searchControl input::-moz-placeholder {
        color: #dedfdf; }
      .dark .searchPanel .top .searchControl input:-ms-input-placeholder {
        color: #dedfdf; }
      .dark .searchPanel .top .searchControl input:-moz-placeholder {
        color: #dedfdf; }
  .dark .searchPanel .bottom {
    background-color: #3f435e; }
    .dark .searchPanel .bottom .date .date-title {
      color: #fcfcfc; }
    .dark .searchPanel .bottom .date input {
      background-color: #3c3e4a;
      border: solid 0.5px #484848;
      border-bottom: 2px solid rgba(222, 223, 223, 0.2) !important;
      color: #fcfcfc !important; }
      .dark .searchPanel .bottom .date input::-webkit-input-placeholder {
        color: #fcfcfc !important; }
      .dark .searchPanel .bottom .date input::-moz-placeholder {
        color: #fcfcfc !important; }
      .dark .searchPanel .bottom .date input:-ms-input-placeholder {
        color: #fcfcfc !important; }
      .dark .searchPanel .bottom .date input:-moz-placeholder {
        color: #fcfcfc !important; }
  .dark .vdp-datepicker__calendar {
    background-color: #282730 !important; }
    .dark .vdp-datepicker__calendar .day-header {
      color: #aaaec1 !important; }
    .dark .vdp-datepicker__calendar header .prev:after {
      border-right: 10px solid #dedfdf !important; }
    .dark .vdp-datepicker__calendar header .next:after {
      border-left: 10px solid #dedfdf !important; }
    .dark .vdp-datepicker__calendar header .up {
      color: #dedfdf !important; }
    .dark .vdp-datepicker__calendar .day:hover {
      background-color: #414454 !important; }
  .dark .day-header {
    color: #aaaec1 !important; }
  .dark .cell.day {
    color: #dedfdf !important; }
  .dark .title-opt-span {
    color: #fcfcfc !important; }
    .dark .title-opt-span.sent {
      color: #fcfcfc !important; }
  .dark .result-opt-span {
    color: #fcfcfc !important; }
    .dark .result-opt-span.sent {
      color: #ff6c6c !important; }
  .dark .switch-control .slider {
    background-color: #9093a1 !important; }
    .dark .switch-control .slider:before {
      background-color: #3a3a4b !important; }
  .dark .switch-control input:checked .slider {
    background-color: #494d64 !important; }
  .dark .filter-panel {
    background: #27272f !important; }
    .dark .filter-panel .two-input input {
      background-color: #3c3e4a !important;
      border: solid 0.5px #484848;
      color: #dedfdf; }
      .dark .filter-panel .two-input input::-webkit-input-placeholder {
        color: #dedfdf; }
      .dark .filter-panel .two-input input::-moz-placeholder {
        color: #dedfdf; }
      .dark .filter-panel .two-input input:-ms-input-placeholder {
        color: #dedfdf; }
      .dark .filter-panel .two-input input:-moz-placeholder {
        color: #dedfdf; }
  .dark .warning-title {
    color: #dedfdf; }
  .dark .two-auth-secret {
    color: #dedfdf; }
  .dark .drag {
    background-color: #404455; }
  .dark .menu {
    background-color: #464657 !important; }
    .dark .menu.scrollable .wrap-between {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
    .dark .menu .wallet-list.wallet-search {
      background-color: #464657; }
    .dark .menu .wallet-list:not(.active):not(.wallet-search):hover {
      background-color: #555567 !important; }
    .dark .menu .wallet-list.active {
      background-color: #4a4e65; }
      .dark .menu .wallet-list.active .wrap-in-wallet {
        margin-left: 15px;
        width: calc(100% - 55px); }
      .dark .menu .wallet-list.active p {
        color: #f4f3fc; }
      .dark .menu .wallet-list.active .wallet {
        color: #f4f3fc;
        font-family: MuseoSansCyrl500; }
    .dark .menu .wallet-list:hover:not(:first-of-type) {
      background: #4a4e65; }
      .dark .menu .wallet-list:hover:not(:first-of-type) .wrap-in-wallet p {
        color: #fcfcfc; }
      .dark .menu .wallet-list:hover:not(:first-of-type) .wrap-in-wallet .wallet {
        color: #f4f3fc;
        font-family: MuseoSansCyrl500; }
    .dark .menu .wallet-list .wrap-in-wallet input {
      width: auto; }
    .dark .menu .wallet-list .wrap-in-wallet .wallet {
      font-family: MuseoSansCyrl500; }
  .dark .absence-transactions {
    color: #f4f3fc !important; }
  .dark .btn-yellow {
    background-color: rgba(222, 223, 223, 0.2) !important;
    color: #f4f3fc !important; }
    .dark .btn-yellow:hover {
      background-color: #6d718a !important; }
    .dark .btn-yellow:focus, .dark .btn-yellow:active {
      background-color: rgba(222, 223, 223, 0.2) !important; }
    .dark .btn-yellow:disabled {
      background-color: #373745 !important; }
    .dark .btn-yellow.disabled {
      background-color: #373745 !important; }
  .dark .btn-default {
    background: #2c2c42;
    color: #fcfcfc; }
    .dark .btn-default:hover {
      background: #27272f; }
    .dark .btn-default:focus, .dark .btn-default:active {
      background: #17171d; }
    .dark .btn-default:disabled {
      background-color: rgba(13, 23, 23, 0.1); }
  .dark .list-panel-heading h3 {
    color: #fcfcfc; }
  .dark .list-panel-heading p {
    color: #dedfdf; }
  .dark .activityList {
    border-radius: 4px; }
    .dark .activityList .activityListBlock .activity-list {
      background: rgba(222, 223, 223, 0.1); }
      .dark .activityList .activityListBlock .activity-list .sent {
        background-color: #3f435e !important; }
      .dark .activityList .activityListBlock .activity-list .status span {
        color: #fcfcfc; }
      .dark .activityList .activityListBlock .activity-list .details {
        padding-right: 15px; }
        .dark .activityList .activityListBlock .activity-list .details .info p {
          color: #fcfcfc; }
        .dark .activityList .activityListBlock .activity-list .details .purpose {
          color: #fcfcfc; }
        .dark .activityList .activityListBlock .activity-list .details .count.active span {
          color: #f4f3fc !important; }
        .dark .activityList .activityListBlock .activity-list .details.sent .count span {
          color: #ff6c6c !important; }
      .dark .activityList .activityListBlock .activity-list .received {
        background-color: transparent !important; }
    .dark .activityList .activityListBlock .result-day .result-day-col {
      color: #fcfcfc; }
      .dark .activityList .activityListBlock .result-day .result-day-col .result-day-line {
        color: #fcfcfc; }
        .dark .activityList .activityListBlock .result-day .result-day-col .result-day-line .sent {
          color: #ff6c6c; }
  .dark .wallet .main .content .container .row .col-12 {
    margin-top: 0px !important; }
    .dark .wallet .main .content .container .row .col-12 .stats-balance .stats-col .buttons.btn-yellow {
      margin-right: 10px;
      border-radius: 4px; }
    .dark .wallet .main .content .container .row .col-12 .stats-balance .stats-col .buttons.btn-default {
      border-radius: 4px; }
  .dark .navbar .title {
    color: #dedfdf; }
  .dark .navbar .navbar-nav .actions .item.active {
    background-color: rgba(223, 223, 223, 0.07); }
  .dark .navbar .navbar-nav .actions .item:hover {
    background-color: #4a4e65; }
  .dark .navbar .navbar-nav .actions .item:not(.active):hover {
    background-color: rgba(64, 68, 85, 0.75); }
  .dark .navbar .navbar-nav .actions .item:first-child.active {
    background-color: rgba(223, 223, 223, 0.07); }
  .dark .navbar .navbar-nav .actions .item:first-child:hover {
    background-color: rgba(223, 223, 223, 0.07); }
  .dark .navbar .balance .options:hover {
    background: #454657; }
  .dark .navbar .balance .options .dropdown-options {
    background-color: #454657; }
    .dark .navbar .balance .options .dropdown-options .item:hover {
      background: #6d718a; }
    .dark .navbar .balance .options .dropdown-options .item span:hover {
      color: #fff; }
  .dark .v--modal-overlay .v--modal-box {
    background-color: #5b5f73; }
    .dark .v--modal-overlay .v--modal-box .btn-yellow {
      background: #2c2c42; }
      .dark .v--modal-overlay .v--modal-box .btn-yellow:hover {
        background: #27272f; }
    .dark .v--modal-overlay .v--modal-box .button-copy {
      background: rgba(222, 223, 223, 0.2); }
      .dark .v--modal-overlay .v--modal-box .button-copy:hover {
        background: #6d718a; }
    .dark .v--modal-overlay .v--modal-box .btn-default {
      background: rgba(222, 223, 223, 0.2); }
      .dark .v--modal-overlay .v--modal-box .btn-default:hover {
        background: #6d718a; }
    .dark .v--modal-overlay .v--modal-box .body .modal-control {
      border-bottom: 1px solid rgba(209, 209, 209, 0.4); }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .input-label {
        color: #dedfdf !important; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-control__title {
        color: #fcfcfc !important; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input__disabled {
        background-color: #414454 !important; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input {
        border: solid 1px #3c3e4b !important; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input label.label-from {
          color: #dedfdf !important; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input label.label-to {
          color: #dedfdf !important; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .label-currency {
          color: #fcfcfc !important; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-from::-webkit-input-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-to::-webkit-input-placeholder {
          color: #dedfdf !important; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-from::-moz-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-to::-moz-placeholder {
          color: #dedfdf !important; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-from:-ms-input-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-to:-ms-input-placeholder {
          color: #dedfdf !important; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-from:-moz-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-line .wrap-double-input .input.input-to:-moz-placeholder {
          color: #dedfdf !important; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .badge-control .badge {
        background-color: rgba(252, 252, 252, 0.08) !important;
        color: #dedfdf !important; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .address {
        color: #dedfdf; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control.double:nth-child(2n) .modal-input .title {
        opacity: 0.6; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .small {
        color: #dedfdf; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .title {
        color: #fcfcfc; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .input, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .textarea {
        color: #fff; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .input::-webkit-input-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .textarea::-webkit-input-placeholder {
          color: #dedfdf; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .input::-moz-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .textarea::-moz-placeholder {
          color: #dedfdf; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .input:-ms-input-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .textarea:-ms-input-placeholder {
          color: #dedfdf; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .input:-moz-placeholder, .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .textarea:-moz-placeholder {
          color: #dedfdf; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .total {
        color: #fff; }
      .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .count {
        color: #dedfdf; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .count input {
          opacity: 1; }
        .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .count #amount {
          color: #fff; }
          .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .count #amount::-webkit-input-placeholder {
            color: #dedfdf; }
          .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .count #amount::-moz-placeholder {
            color: #dedfdf; }
          .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .count #amount:-ms-input-placeholder {
            color: #dedfdf; }
          .dark .v--modal-overlay .v--modal-box .body .modal-control .modal-input .count #amount:-moz-placeholder {
            color: #dedfdf; }
    .dark .v--modal-overlay .v--modal-box .heading {
      display: flex;
      justify-content: center; }
      .dark .v--modal-overlay .v--modal-box .heading .title {
        color: #fcfcfc;
        max-width: 200px;
        text-align: center; }
      .dark .v--modal-overlay .v--modal-box .heading .close {
        background-image: url("/static/img/close-cross_dark.svg"); }
      .dark .v--modal-overlay .v--modal-box .heading .back {
        background-image: url("/static/img/back-arrow-small_dark.svg"); }
      .dark .v--modal-overlay .v--modal-box .heading .title-expand .arrow {
        background-image: url("/static/img/arrow-down-light.svg"); }
  .dark .select .value {
    color: rgba(252, 252, 252, 0.7) !important;
    opacity: 1 !important; }
  .dark .select .list ul {
    background: #464657 !important; }
    .dark .select .list ul li {
      color: #dedfdf !important; }
      .dark .select .list ul li:hover {
        background: #555567; }
      .dark .select .list ul li.selected {
        background-color: #464657 !important; }
        .dark .select .list ul li.selected:before {
          background: url("../img/selected-ic_dark.svg");
          background-size: cover; }
  .dark .select-offer .list-offer ul .selected-offer {
    background-color: #404455 !important; }
  .dark .apply-panel {
    background: #27272f;
    border-radius: 4px; }
    .dark .apply-panel .btn-block {
      color: #f4f3fc; }
  .dark .title-btn-create-task {
    color: #fcfcfc; }
  .dark .offer-list {
    background: #27272f;
    border-radius: 4px; }
    .dark .offer-list .heading .title,
    .dark .offer-list .heading .count {
      color: #f4f3fc; }
    .dark .offer-list .subtitle {
      color: #f4f3fc; }
    .dark .offer-list .description {
      color: #f4f3fc; }
    .dark .offer-list .footer .timeout {
      color: #f4f3fc; }
  .dark .tags-list p {
    color: #f4f3fc; }
  .dark .tags-list .tag {
    background-color: #000; }
    .dark .tags-list .tag span {
      color: #f4f3fc; }
  .dark .pagination .links li {
    color: #fcfcfc;
    padding: 1px 3px; }
    .dark .pagination .links li:hover {
      background-color: #3e4ea7 !important; }
  .dark .pagination .links .active {
    background-color: #28388e; }
  .dark .notif-panel {
    background-color: #3f435e; }
    .dark .notif-panel.checked {
      background-color: rgba(222, 223, 223, 0.1); }
    .dark .notif-panel .title {
      color: #fcfcfc; }
    .dark .notif-panel .panel-heading .datetime {
      color: #fcfcfc; }
  .dark .form {
    background-color: #3f435e; }
    .dark .form .control {
      border-bottom: 1px solid #9093a1; }
      .dark .form .control .wrap-input input {
        color: rgba(252, 252, 252, 0.7);
        opacity: 1; }
        .dark .form .control .wrap-input input:focus {
          color: #fff; }
        .dark .form .control .wrap-input input::-webkit-input-placeholder {
          color: #dedfdf; }
        .dark .form .control .wrap-input input::-moz-placeholder {
          color: #dedfdf; }
        .dark .form .control .wrap-input input:-ms-input-placeholder {
          color: #dedfdf; }
        .dark .form .control .wrap-input input:-moz-placeholder {
          color: #dedfdf; }
      .dark .form .control .wrap-input .text {
        color: rgba(252, 252, 252, 0.7);
        opacity: 1; }
      .dark .form .control .wrap-input .wrap-container .text {
        color: rgba(252, 252, 252, 0.7);
        opacity: 1; }
    .dark .form .deletelink {
      color: #b53939;
      font-family: MuseoSansCyrl500; }
      .dark .form .deletelink:hover {
        text-decoration: none; }
  .dark label {
    color: #fcfcfc; }
  .dark .qr-code .muted {
    color: #dedfdf; }
  .dark .qr-code > div {
    background: #eee;
    max-width: 300px;
    max-height: 300px;
    margin: auto; }
    @media screen and (max-width: 350px) {
      .dark .qr-code > div {
        max-width: 240px;
        max-height: 240px; } }
  .dark .no-found {
    color: #dedfdf !important; }
  .dark .modal-warning .agreed {
    color: #fcfcfc !important; }
  .dark .modal-warning.agreed-border .agreed {
    border-bottom: 1px solid rgba(209, 209, 209, 0.4) !important; }
  .dark .control-checkbox {
    color: #fcfcfc !important; }
    .dark .control-checkbox .control-indicator:after {
      left: 34%;
      border: solid #dedfdf;
      border-width: 0 2px 2px 0; }
  .dark .control-indicator {
    background: #3c3e4b;
    border: solid 0.5px #484848; }
  .dark .control:hover input ~ .control-indicator,
  .dark .control input:focus ~ .control-indicator {
    background: #3c3e4b; }
  .dark .control input:checked ~ .control-indicator {
    background: #3c3e4b;
    border: solid 0.5px #2c2c42; }
  .dark .control input:disabled ~ .control-indicator {
    background: #3c3e4b; }
  .dark .control:hover input:not([disabled]):checked ~ .control-indicator,
  .dark .control input:checked:focus ~ .control-indicator {
    background: #3c3e4b; }
  .dark .phrase {
    background-color: rgba(13, 23, 23, 0.25) !important; }
    .dark .phrase span {
      color: #dedfdf !important; }

.white {
  background: #fff !important; }
  .white .notif-panel.checked {
    background-color: #d7d8da; }
  .white .select-white {
    background: #f0f0f0; }
  .white .drag {
    background-color: #aaaec1; }
    .white .drag:after {
      content: " ";
      background: url("./../../../static/img/wallet_white.svg");
      background-size: cover;
      width: 23px;
      height: 20.5px; }
  .white .menu {
    background-color: #aaaec1 !important; }
    .white .menu.scrollable .wrap-between {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
    .white .menu .wallet-list.wallet-search {
      background-color: #aaaec1 !important; }
    .white .menu .wallet-list:not(.active):not(.wallet-search):hover {
      background-color: rgba(247, 247, 247, 0.25); }
      .white .menu .wallet-list:not(.active):not(.wallet-search):hover .wrap-in-wallet p {
        opacity: 1 !important; }
    .white .menu .wallet-list:not(:first-child) {
      margin: 5px 35px;
      width: calc(100% - 70px);
      border-radius: 4px; }
      .white .menu .wallet-list:not(:first-child) .wrap-in-wallet {
        margin-left: 15px; }
    .white .menu .wallet-list.wrap-between {
      margin: 0 35px;
      background-color: #aaaec1 !important;
      width: calc(360px - 70px) !important; }
      @media (max-width: 1024px) {
        .white .menu .wallet-list.wrap-between {
          width: calc(260px - 70px) !important; } }
      @media (max-width: 920px) {
        .white .menu .wallet-list.wrap-between {
          width: calc(360px - 70px) !important; } }
      @media (max-width: 425px) {
        .white .menu .wallet-list.wrap-between {
          width: calc(100% - 70px) !important; } }
    .white .menu .wallet-list.active {
      margin: 5px 35px;
      width: calc(100% - 70px);
      border: none;
      border-radius: 4px; }
      .white .menu .wallet-list.active:after {
        content: "";
        position: relative;
        right: 0px;
        top: 21px;
        background: url("./../../../static/img/wallet_white_active.svg");
        background-size: cover;
        width: 23px;
        height: 20.5px; }
      .white .menu .wallet-list.active .wrap-in-wallet {
        margin-left: 15px;
        width: calc(100% - 55px); }
      .white .menu .wallet-list.active p {
        color: #34343e; }
      .white .menu .wallet-list.active .wallet {
        color: #282c41 !important;
        font-family: MuseoSansCyrl700; }
    .white .menu .wallet-list:hover:not(:first-of-type):not(.active) {
      background: #b6b9c9 !important; }
      .white .menu .wallet-list:hover:not(:first-of-type):not(.active) .wrap-in-wallet p {
        color: #34343e; }
      .white .menu .wallet-list:hover:not(:first-of-type):not(.active) .wrap-in-wallet .wallet {
        color: #282c41;
        font-family: MuseoSansCyrl500; }
    .white .menu .wallet-list.active {
      background: #eff0f3 !important; }
    .white .menu .wallet-list .wrap-in-wallet {
      margin-left: 55px; }
      .white .menu .wallet-list .wrap-in-wallet input {
        width: auto;
        color: #fff; }
        .white .menu .wallet-list .wrap-in-wallet input::-webkit-input-placeholder {
          color: #dedfdf; }
        .white .menu .wallet-list .wrap-in-wallet input::-moz-placeholder {
          color: #dedfdf; }
        .white .menu .wallet-list .wrap-in-wallet input:-ms-input-placeholder {
          color: #dedfdf; }
        .white .menu .wallet-list .wrap-in-wallet input:-moz-placeholder {
          color: #dedfdf; }
      .white .menu .wallet-list .wrap-in-wallet .wallet {
        font-family: MuseoSansCyrl500;
        color: #fff; }
  .white .absence-transactions {
    color: #282c41 !important; }
  .white .btn-yellow {
    background: #3c4af0 !important;
    color: #f4f3fc !important; }
    .white .btn-yellow:hover {
      background: #2f3dd4 !important; }
    .white .btn-yellow:focus, .white .btn-yellow:active {
      background: #303cc4 !important; }
    .white .btn-yellow:disabled {
      background-color: #3c4af0; }
  .white .btn-default {
    background: #adb1c3 !important;
    color: #fff !important; }
    .white .btn-default:hover {
      background: #8f95b1 !important; }
    .white .btn-default:focus, .white .btn-default:active {
      background: #7a7f97 !important; }
    .white .btn-default:disabled {
      background-color: #adb1c3 !important; }
  .white .list-panel-heading h3 {
    color: #83888b;
    opacity: 1; }
  .white .activityList {
    padding: 15px 30px 20px 30px;
    background: #eff0f3;
    border-radius: 4px; }
    .white .activityList .activityListBlock .activity-list {
      background: transparent !important; }
      .white .activityList .activityListBlock .activity-list .sent {
        background-color: rgba(0, 0, 0, 0.1) !important; }
      .white .activityList .activityListBlock .activity-list .status {
        justify-content: left;
        padding-left: 15px; }
        .white .activityList .activityListBlock .activity-list .status span {
          padding-top: 2px; }
      .white .activityList .activityListBlock .activity-list .details {
        padding-right: 15px; }
        .white .activityList .activityListBlock .activity-list .details .info p {
          color: #43414a; }
        .white .activityList .activityListBlock .activity-list .details .purpose {
          color: #43414a;
          justify-content: center; }
        .white .activityList .activityListBlock .activity-list .details .count {
          min-width: 70px; }
          .white .activityList .activityListBlock .activity-list .details .count span {
            color: #cc2a1e !important;
            padding-right: 0;
            margin-right: 0;
            padding-bottom: 3px; }
          .white .activityList .activityListBlock .activity-list .details .count.active span {
            color: #43414a !important; }
      .white .activityList .activityListBlock .activity-list .received {
        background-color: #FFF !important; }
    .white .activityList .activityListBlock .result-day {
      margin-right: 15px; }
      .white .activityList .activityListBlock .result-day .result-day-col {
        color: #43414a; }
        .white .activityList .activityListBlock .result-day .result-day-col .result-day-line {
          color: #43414a;
          padding-right: 0; }
          .white .activityList .activityListBlock .result-day .result-day-col .result-day-line .sent {
            color: #cc2a1e; }
          .white .activityList .activityListBlock .result-day .result-day-col .result-day-line .result-day-span {
            margin-right: 0;
            padding-right: 0; }
  .white .wallet .main .content .container .row .col-12 {
    margin-top: 0px !important; }
    .white .wallet .main .content .container .row .col-12 .stats-balance .stats-col .buttons.btn-yellow {
      margin-right: 10px;
      border-radius: 4px; }
    .white .wallet .main .content .container .row .col-12 .stats-balance .stats-col .buttons.btn-default {
      border-radius: 4px; }
  .white .navbar {
    background: #eff0f3; }
    .white .navbar .title {
      color: #43414a; }
    .white .navbar .navbar-nav .actions .active {
      background-color: #aaaec1; }
    .white .navbar .navbar-nav .actions .item:hover {
      background-color: #aaaec1 !important; }
    .white .navbar .navbar-nav .actions .item:not(.active):hover {
      background-color: rgba(170, 174, 193, 0.75) !important; }
    .white .navbar .navbar-nav .logo {
      color: #43414a; }
    .white .navbar .balance .count {
      color: #43414a; }
    .white .navbar .balance .options:hover {
      background: #aaaec1; }
    .white .navbar .balance .options .dropdown-options {
      background: #aaaec1; }
      .white .navbar .balance .options .dropdown-options .item span:hover {
        color: #fff; }
      .white .navbar .balance .options .dropdown-options .item:hover {
        background: rgba(0, 0, 0, 0.1); }
      .white .navbar .balance .options .dropdown-options .item a {
        color: #fff; }
  .white .v--modal-overlay .v--modal-box {
    background-color: #fff; }
    .white .v--modal-overlay .v--modal-box .body .modal-control {
      border-bottom: 1px solid #d4d4d4; }
  .white .themes label {
    color: #43414a; }
  .white .wrap-between .new-wallet {
    opacity: 0.8; }
  .white .apply-panel {
    border-radius: 4px; }
    .white .apply-panel .btn-block {
      color: #ececec; }
  .white .mobile-menu {
    background: #eff0f3; }
    .white .mobile-menu a span {
      color: #43414a; }
    .white .mobile-menu a:not(:last-child) {
      border-bottom: 1px solid #d7d8da; }
    .white .mobile-menu hr {
      color: #d7d8da;
      background-color: #d7d8da; }
  .white .scMobileMenu .item:not(:last-child) a {
    border-bottom: 1px solid #d7d8da; }

@media screen and (max-width: 1024px) {
  .dark .menu .wallet-list .wrap-in-wallet, .white .menu .wallet-list .wrap-in-wallet {
    margin-left: 25px; }
    .dark .menu .wallet-list .wrap-in-wallet input, .white .menu .wallet-list .wrap-in-wallet input {
      width: calc(100% - 40px); } }

@media screen and (max-height: 800px) {
  .v--modal-overlay {
    overflow-y: auto; } }
