@charset "UTF-8";
.panel {
  height: auto;
  background: #ececec;
  margin-bottom: 6px; }
  .panel .annotation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30em; }
    .panel .annotation h3 {
      margin: 0;
      font-family: MuseoSansCyrl700;
      font-weight: bold;
      color: #34343e;
      font-size: 12px; }
    .panel .annotation p {
      opacity: 0.5;
      font-family: MuseoSansCyrl700;
      font-weight: bold;
      text-align: center;
      color: #34343e;
      font-size: 12px;
      margin: 12px 16px; }
  .panel .panel-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 16px;
    vertical-align: center; }
    .panel .panel-group .input-label {
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 0.8;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 0;
      text-align: left; }
    .panel .panel-group:not(:first-child) {
      padding-top: 0; }
    .panel .panel-group label {
      font-family: MuseoSansCyrl700; }
  .panel .panel-heading {
    width: 100%;
    height: auto;
    background: #dedfdf; }
    .panel .panel-heading h3 {
      padding: 16px;
      font-size: 18px;
      font-weight: bold;
      color: #34343e;
      opacity: 1;
      line-height: 1.29;
      letter-spacing: 0.5px;
      font-family: MuseoSansCyrl700;
      margin-top: 0; }
      .panel .panel-heading h3.small {
        font-size: 13px; }
      .panel .panel-heading h3 span {
        font-family: MuseoSansCyrl300;
        font-size: 14px;
        line-height: 1.14;
        padding-left: 15px; }

.text-center {
  display: flex;
  justify-content: center; }

.input-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
  .input-body .input-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .input-body .input-group .form-control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
      min-height: 30px;
      height: auto;
      outline: none;
      border: 1px solid #aaaaaa;
      border-left: none;
      border-right: none;
      font-size: 12px;
      padding: 0 17px;
      text-align: right; }
    .input-body .input-group .form-control:first-child {
      border-left: 1px solid #aaaaaa;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    .input-body .input-group .input-group-btn {
      padding: 6px 48px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: #eee;
      border: 1px solid #aaaaaa;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: MuseoSansCyrl500; }
      .input-body .input-group .input-group-btn:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .input-body .input-group .input-group-btn.btn-dropdown-alone {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
    .input-body .input-group .black-btn {
      background: #0d1717;
      color: #fff;
      border: 1px solid #0d1717; }
    .input-body .input-group .big-btn {
      width: 108px; }

.input-group-addon {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-family: MuseoSansCyrl500;
  justify-content: center;
  min-width: 80px; }
  .input-group-addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.input-group .form-control:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .btn .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .btn .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .btn .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .btn .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group .form-control:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .btn .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .btn .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .btn .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .btn .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-addon:last-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .btn .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .btn:not(:first-child) .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .btn .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .btn .input-group-btn:last-child .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .btn .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .btn:not(:first-child) .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .btn .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .btn .btn-group .input-group-btn:last-child .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .input-group-btn:last-child .btn-group .btn .dropdown-toggle, .input-group-btn:first-child .btn-group:not(:first-child) .input-group-btn:first-child .input-group-btn:last-child .input-group-btn:last-child .btn-group .input-group-btn:last-child .dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.checkbox:not(checked) {
  position: absolute;
  opacity: 0 !important;
  width: auto !important;
  margin: 0 !important;
  display: inline-block; }

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 56px;
  right: 18px;
  width: 34px;
  height: 18px;
  background: #34343e;
  border-radius: 2px;
  cursor: pointer; }

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 58px;
  right: 20px;
  width: 14px;
  height: 14px;
  border-radius: 1px;
  background: #fff;
  transition: all .2s;
  cursor: pointer; }

.checkbox:checked + label:after {
  right: 36px; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

.panel-graphs {
  margin: 24px 24px; }
  .panel-graphs .data {
    display: flex;
    justify-content: space-between; }
    .panel-graphs .data .prices p {
      font-family: MuseoSansCyrl700;
      font-size: 12px;
      margin-bottom: 36px;
      white-space: nowrap;
      margin-right: 12px;
      color: #34343e; }
      .panel-graphs .data .prices p:first-child {
        margin-top: 0; }
      .panel-graphs .data .prices p:last-child {
        margin-bottom: 0; }
    .panel-graphs .data .graphs {
      width: 100%; }
      .panel-graphs .data .graphs .charts {
        width: 100%;
        height: 164px;
        background: red; }
      .panel-graphs .data .graphs .months {
        display: flex;
        justify-content: space-around; }
        .panel-graphs .data .graphs .months p {
          font-family: MuseoSansCyrl700;
          font-size: 12px;
          font-weight: 500;
          color: #34343e; }
  .panel-graphs .period {
    padding-bottom: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: center; }
    .panel-graphs .period a {
      color: #34343e;
      opacity: 0.5;
      font-family: MuseoSansCyrl700;
      text-decoration: none; }
      .panel-graphs .period a:not(:last-child) {
        margin-right: 24px; }
      .panel-graphs .period a:hover {
        opacity: 1;
        border-bottom: 2px solid #34343e; }
    .panel-graphs .period .active {
      opacity: 1;
      border-bottom: 2px solid #34343e; }

.square {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  background: #d8d9d9;
  color: #0d1717; }
  .square.square-red {
    background: #ad4b4b;
    color: #f7f7f7; }
  .square.square-green {
    background: #4bad6d;
    color: #f7f7f7; }
  .square span {
    font-family: MuseoSansCyrl500;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center; }

.control-arrow-container {
  display: flex;
  flex-wrap: wrap;
  width: 14px; }

.control-arrow:focus,
.control-arrow {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
  height: 11px;
  line-height: 8px; }
  .control-arrow:focus .arrow,
  .control-arrow .arrow {
    cursor: pointer;
    opacity: 1; }
    .control-arrow:focus .arrow:hover,
    .control-arrow .arrow:hover {
      opacity: 0.8; }
  .control-arrow:focus .up,
  .control-arrow .up {
    width: 100%;
    height: 100%;
    transform: rotate(180deg); }
  .control-arrow:focus .down,
  .control-arrow .down {
    width: 100%;
    height: 100%; }

#reciveusd {
  text-decoration: underline; }

.tags-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6px; }
  .tags-list p {
    opacity: 0.8;
    font-family: MuseoSansCyrl700;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    color: #34343e;
    margin: 0;
    margin-right: 10px; }
  .tags-list .tag {
    border-radius: 2px;
    background-color: #dedfdf;
    padding: 2px 6px 4px 6px; }
    .tags-list .tag span {
      opacity: 0.8;
      font-family: MuseoSansCyrl700;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.17;
      text-align: left;
      color: #0d1717; }
    .tags-list .tag:not(:last-child) {
      margin-right: 8px; }

.buttons {
  width: 160px;
  height: 44px;
  border-radius: 2px;
  background: inherit;
  border: none;
  font-size: 16px;
  color: #34343e;
  margin-bottom: 12px;
  font-family: MuseoSansCyrl500; }
  .buttons .icon {
    position: relative;
    left: -5px; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn-black {
  background-color: #0d1717;
  color: #ffffff;
  width: 108px;
  font-size: 16px;
  padding: 12px !important; }
  .btn-black:hover {
    cursor: pointer;
    background-color: #333333; }
  .btn-black:focus, .btn-black :active {
    background: #000000;
    cursor: pointer; }

.btn-send {
  width: 160px;
  margin-bottom: 16px;
  font-size: 12px;
  color: #0d1717;
  font-weight: 500;
  line-height: 1.17; }

.btn-yellow {
  background: #ffd24f;
  font-family: MuseoSansCyrl500; }
  .btn-yellow:hover {
    background: #ffdd78;
    cursor: pointer; }
  .btn-yellow:focus, .btn-yellow :active {
    background: #ffc926;
    cursor: pointer; }

.btn-default {
  background: rgba(13, 23, 23, 0.08); }
  .btn-default:hover {
    background: rgba(13, 23, 23, 0.04);
    cursor: pointer; }
  .btn-default:focus, .btn-default :active {
    background: rgba(13, 23, 23, 0.16);
    cursor: pointer; }

.btn:not(:first-child) {
  margin-left: 14px; }

.btn-block {
  display: block;
  margin-left: 0 !important;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 0 0 16px 0; }

.btn-dropdown {
  height: 32px;
  border-radius: 4px; }
  .btn-dropdown:hover {
    cursor: pointer; }
  .btn-dropdown:focus {
    outline: none; }

.nomargin {
  margin: 0 !important; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: MuseoSansCyrl700;
    font-size: 12px;
    text-decoration: none; }
    .dropdown-menu li a:hover {
      color: #262626;
      text-decoration: none;
      background-color: #ececec; }
    .dropdown-menu li a.active {
      color: #262626;
      text-decoration: none;
      background-color: #ececec; }

.dropdown-open {
  display: block; }

.title-btn-create-task {
  text-align: center;
  font-family: MuseoSansCyrl500;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #34343e;
  margin: 0; }

.btn-create {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: MuseoSansCyrl500;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #34343e;
  margin: 0; }

.filter-panel {
  padding: 16px;
  height: auto;
  background: #ececec; }

.offer-page {
  padding: 16px;
  height: auto;
  background: #ececec;
  font-family: MuseoSansCyrl300; }
  .offer-page h3 {
    font-family: MuseoSansCyrl700;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #34343e; }
  .offer-page h4 {
    font-family: MuseoSansCyrl700;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    color: #34343e;
    margin-bottom: 0; }
  .offer-page .heading {
    display: flex;
    justify-content: space-between; }
    .offer-page .heading .count {
      margin: 0;
      font-family: MuseoSansCyrl700;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      color: #34343e;
      text-decoration: none; }
    .offer-page .heading .title {
      font-family: MuseoSansCyrl700;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      color: #34343e;
      margin: 0; }
    .offer-page .heading .save {
      display: flex;
      align-items: center; }
      .offer-page .heading .save:hover {
        cursor: pointer; }
        .offer-page .heading .save:hover .icon {
          background-image: url(../img/star-on.svg); }
      .offer-page .heading .save span {
        font-family: MuseoSansCyrl500;
        font-size: 16px;
        line-height: 1.12;
        color: #34343e;
        opacity: 0.5;
        margin-right: 5px; }
      .offer-page .heading .save .icon {
        background-image: url(../img/star-off.svg);
        width: 16px;
        height: 16px;
        background-size: contain;
        display: block; }
  .offer-page .subtitle {
    opacity: 0.8;
    font-family: MuseoSansCyrl500;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    color: #34343e;
    margin-top: 6px;
    display: flex; }
    .offer-page .subtitle .badge {
      border-radius: 2px;
      background-color: #ffd24f;
      font-family: MuseoSansCyrl900;
      font-size: 11px;
      font-weight: bold;
      line-height: 1.09;
      color: #0d1717;
      padding: 3px 5px 2px 5px;
      text-align: center;
      margin-left: 10px;
      display: inline-table;
      opacity: 1; }
  .offer-page .description {
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.13;
    text-align: left;
    color: #34343e; }
  .offer-page ul {
    margin: 0;
    list-style-type: none;
    padding-left: 20px;
    font-family: MuseoSansCyrl300; }
  .offer-page li:before {
    content: "–  "; }
  .offer-page .requirement {
    margin-right: 5px;
    padding: 4px 8px;
    background-color: #dedfdf;
    border-radius: 2px;
    font-family: MuseoSansCyrl500;
    line-height: 1.13;
    color: #34343e;
    opacity: 1; }
  .offer-page .muted {
    opacity: 0.6; }

.apply-panel {
  padding: 16px;
  height: auto;
  background: #ececec; }
  .apply-panel h1 {
    font-family: MuseoSansCyrl700;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: #34343e;
    margin: 0; }
  .apply-panel .text {
    font-family: MuseoSansCyrl700;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #34343e;
    margin-bottom: 16px; }
  .apply-panel .muted {
    opacity: 0.7; }
  .apply-panel .link {
    opacity: 0.5;
    font-family: MuseoSansCyrl700;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.08;
    color: #34343e;
    text-decoration: none; }
    .apply-panel .link:hover {
      text-decoration: underline; }

.form {
  padding: 16px;
  height: auto;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  flex-direction: column; }
  .form .deletelink {
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: MuseoSansCyrl500;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    color: #b10101;
    margin-top: 8px;
    text-decoration: none; }
    .form .deletelink:hover {
      text-decoration: underline; }
  .form .control {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 18px;
    padding-left: 0; }
    .form .control.isCheckbox {
      padding-bottom: 0; }
    .form .control .wrap-input {
      padding-left: 22px; }
      .form .control .wrap-input .wrap-container {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .form .control .wrap-input .wrap-container .text {
          margin-right: 50px;
          font-size: 14px;
          font-family: MuseoSansCyrl500;
          opacity: 0.5;
          margin-bottom: 0;
          line-height: 1.29;
          color: #34343e; }
      .form .control .wrap-input:not(:last-child) {
        margin-bottom: 20px; }
      .form .control .wrap-input:first-child {
        margin-top: 22px; }
      .form .control .wrap-input label {
        text-transform: uppercase;
        margin: 0;
        white-space: pre;
        margin-right: 12px;
        font-size: 14px;
        font-family: MuseoSansCyrl500; }
      .form .control .wrap-input .textbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px; }
        .form .control .wrap-input .textbox .text {
          margin: 0;
          margin-right: 18px; }
        .form .control .wrap-input .textbox .arrow_down_icon {
          width: 11.5px;
          height: 7px;
          background-image: url("../img/arrow_down.svg");
          margin-right: 18px;
          background-size: cover; }
      .form .control .wrap-input .text {
        margin-right: 12px;
        font-size: 14px;
        font-family: MuseoSansCyrl500;
        opacity: 0.5;
        margin-bottom: 0;
        line-height: 1.29;
        color: #34343e; }
      .form .control .wrap-input .text-link {
        text-decoration: none; }
        .form .control .wrap-input .text-link:hover {
          text-decoration: underline; }
      .form .control .wrap-input input {
        font-family: MuseoSansCyrl500;
        width: 100%;
        background: inherit;
        border: none;
        outline: none;
        margin-top: 18px;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        text-align: left;
        color: #34343e;
        position: relative;
        z-index: 1;
        display: block; }
      .form .control .wrap-input.noline {
        border-bottom: none; }
      .form .control .wrap-input:last-child {
        border-bottom: none; }

.activity-list {
  width: 100%;
  height: auto;
  background: #ececec;
  display: flex;
  font-family: MuseoSansCyrl700;
  justify-content: space-between; }
  .activity-list:nth-child(even) {
    background: inherit; }
  .activity-list:not(:last-child) {
    margin-bottom: 5px; }
  .activity-list .status {
    width: 102px;
    height: 56px;
    background: #0d1717;
    display: flex;
    justify-content: center;
    align-items: center; }
    .activity-list .status.active {
      background-color: #ffd24f; }
      .activity-list .status.active span {
        color: #0d1717; }
    .activity-list .status span {
      color: #fcfcfc;
      font-size: 14px;
      font-family: MuseoSansCyrl700;
      font-weight: bold;
      line-height: 1.29;
      letter-spacing: 0.5px; }
  .activity-list .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px; }
    .activity-list .details .count {
      background-color: #0d1717; }
      .activity-list .details .count span {
        color: #fcfcfc;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.5px;
        font-family: MuseoSansCyrl500;
        padding: 5px;
        margin: 0 10px 0 10px; }
      .activity-list .details .count.active {
        background-color: #ffd24f; }
        .activity-list .details .count.active span {
          color: #34343e; }
    .activity-list .details .info p {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.17;
      color: #34343e;
      font-family: MuseoSansCyrl500; }

.list-panel-heading {
  display: flex;
  align-items: center;
  margin: 0 16px 14px 16px;
  justify-content: flex-start; }
  .list-panel-heading p {
    font-family: MuseoSansCyrl500;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0;
    line-height: 1.27;
    letter-spacing: 0.5px;
    color: rgba(13, 23, 23, 0.5);
    margin-bottom: 0; }
    .list-panel-heading p span {
      color: #0d1717; }
  .list-panel-heading h3 {
    font-family: MuseoSansCyrl700;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #0d1717;
    opacity: 0.5; }
    .list-panel-heading h3.small {
      font-size: 11px; }
    .list-panel-heading h3:not(:first-child) {
      margin-left: 16px; }
    .list-panel-heading h3.active {
      color: #34343e;
      border-bottom: 1px solid #000;
      opacity: 1; }
  .list-panel-heading.mr-t0 h3 {
    margin-top: 0; }
  .list-panel-heading.flexleft {
    justify-content: flex-start; }
    .list-panel-heading.flexleft h3:hover {
      cursor: pointer;
      border-bottom: 1px solid #000;
      color: #34343e;
      opacity: 1; }

.list-panel-heading-offers h3 {
  margin: 0; }

.offer-list {
  height: auto;
  background: #ececec;
  margin-bottom: 24px;
  padding: 16px; }
  .offer-list h3 {
    font-family: MuseoSansCyrl700;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: #34343e; }
  .offer-list .heading {
    display: flex;
    justify-content: space-between; }
    .offer-list .heading .title, .offer-list .heading .count {
      margin: 0;
      font-family: MuseoSansCyrl700;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      color: #34343e;
      text-decoration: none; }
    .offer-list .heading .title:hover {
      text-decoration: underline; }
    .offer-list .heading .large {
      font-size: 24px; }
  .offer-list .footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .offer-list .footer .timeout {
      opacity: 0.6;
      font-family: MuseoSansCyrl700;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.13;
      color: #34343e; }
      .offer-list .footer .timeout .bold {
        font-weight: 500; }
  .offer-list .subtitle {
    opacity: 0.8;
    font-family: MuseoSansCyrl700;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    color: #34343e;
    margin-top: 6px; }
    .offer-list .subtitle .badge {
      border-radius: 2px;
      background-color: #ffd24f;
      font-family: MuseoSansCyrl700;
      font-size: 11px;
      font-weight: bold;
      line-height: 1.09;
      color: #0d1717;
      padding: 6px;
      text-align: center; }
  .offer-list .description {
    opacity: 0.7;
    font-family: MuseoSansCyrl700;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.13;
    color: #34343e; }

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse; }

th {
  text-align: left; }

td, th {
  padding: 16px; }

.table {
  width: 100%;
  max-width: 100%; }
  .table.table-striped tbody tr:nth-child(odd) {
    background: #ececec; }
  .table.table-selected tbody tr:not(.disabled):hover {
    background: #dedfdf;
    cursor: pointer; }
  .table.table-bordered tbody tr:not(:first-child) th, .table.table-bordered tbody tr:not(:first-child) td {
    padding-top: 8px; }
  .table.table-bordered tbody tr th, .table.table-bordered tbody tr td {
    padding-bottom: 8px; }
  .table.table-bordered tbody tr:last-child th, .table.table-bordered tbody tr:last-child td {
    padding-bottom: 16px; }
  .table.table-gray tbody tr {
    background: #ececec; }
  .table thead tr th {
    font-size: 16px;
    vertical-align: bottom;
    padding: 16px;
    line-height: 1.42857143;
    font-family: MuseoSansCyrl700;
    font-weight: bold;
    line-height: 1.17;
    text-align: left;
    color: #34343e; }
    .table thead tr th.isArrow {
      display: flex;
      align-items: center; }
  .table thead tr:last-child {
    width: 1px;
    white-space: nowrap; }
  .table thead tr .arrow_down {
    background-image: url(../img/sort-arrow.svg);
    width: 7.5px;
    height: 10px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 4px; }
    .table thead tr .arrow_down:hover {
      cursor: pointer; }
  .table tbody tr th, .table tbody tr td {
    font-size: 12px;
    padding: 16px;
    line-height: 1.42857143;
    vertical-align: top;
    font-family: MuseoSansCyrl500;
    font-weight: bold;
    vertical-align: middle; }
  .table tbody tr td .btn {
    font-size: 12px; }
    .table tbody tr td .btn .play-icon {
      font-size: 8px; }
  .table tbody tr th.inline {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .table tbody tr td.full-btn button {
    width: 140px; }
  .table tbody tr.disabled th, .table tbody tr.disabled td {
    opacity: 0.6; }
  .table tbody tr.disabled td .badge:hover {
    cursor: default; }
  .table tbody tr .badge {
    text-decoration: none;
    font-family: MuseoSansCyrl500;
    color: #ffffff;
    border-radius: 2px;
    background-color: #0d1717;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px; }
    .table tbody tr .badge:not(:first-child) {
      margin-left: 6px; }
    .table tbody tr .badge.active {
      background-color: #ffd24f;
      color: #0d1717; }
  .table tbody tr td:last-child {
    width: 1px;
    white-space: nowrap;
    text-align: right; }
  .table tbody .uploadfile {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 8px;
    border-radius: 2px;
    background-color: #d8d9d9; }
    .table tbody .uploadfile span {
      font-family: MuseoSansCyrl500;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.17;
      text-align: center;
      color: #0d1717;
      margin: 12px; }
    .table tbody .uploadfile:hover {
      cursor: pointer;
      background: #b7b9b9; }
  .table tbody .separator td {
    padding: 0 16px;
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
    .table tbody .separator td .line {
      background: #d8d9d9;
      width: 100%;
      height: 1px; }

.notif-panel {
  background-color: #f0f0f0;
  padding: 16px;
  margin-bottom: 12px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }
  .notif-panel .panel-heading {
    display: flex;
    justify-content: space-between; }
    .notif-panel .panel-heading .datetime {
      margin: 0;
      opacity: 0.6;
      font-family: MuseoSansCyrl300;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.12;
      color: #34343e; }
      .notif-panel .panel-heading .datetime .bold {
        font-weight: bold;
        font-family: MuseoSansCyrl500; }
  .notif-panel .title {
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.12;
    text-align: left;
    color: #34343e;
    margin: 0;
    display: flex;
    align-items: center; }
    .notif-panel .title:not(:first-child) {
      margin-top: 8px; }
    .notif-panel .title p {
      margin: 0; }
      .notif-panel .title p strong {
        font-weight: bold;
        font-family: MuseoSansCyrl700; }
    .notif-panel .title .accepted {
      font-weight: bold;
      font-family: MuseoSansCyrl700;
      color: #4bad6d;
      text-decoration: none; }
    .notif-panel .title .deleted {
      color: #ad4b4b;
      font-weight: bold;
      font-family: MuseoSansCyrl700; }
  .notif-panel .subtitle {
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.12;
    text-align: left;
    color: #34343e;
    margin-top: 8px;
    margin-bottom: 9px; }
  .notif-panel .changed-line {
    background-color: #d8d9d9;
    display: flex;
    align-items: center; }
    .notif-panel .changed-line:not(:last-child) {
      margin-bottom: 2px; }
    .notif-panel .changed-line .icon {
      font-family: MuseoSansCyrl300;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.12;
      color: #34343e;
      margin-left: 8px;
      margin-right: 8px; }
    .notif-panel .changed-line .message {
      font-family: MuseoSansCyrl300;
      font-size: 16px;
      font-weight: 300;
      text-align: left;
      color: #34343e; }
      .notif-panel .changed-line .message p {
        margin: 0; }
        .notif-panel .changed-line .message p em {
          background: #c2c4c4;
          padding: 0 5px;
          font-style: normal; }
    .notif-panel .changed-line.line-update {
      background: #ffecb6; }
      .notif-panel .changed-line.line-update p {
        margin: 0; }
        .notif-panel .changed-line.line-update p em {
          background: #ffd24f;
          padding: 0 5px;
          font-style: normal; }

.switch-control {
  position: absolute;
  right: 0;
  bottom: 18px;
  display: inline-block;
  width: 34px;
  height: 18px; }
  .switch-control input {
    display: none; }
    .switch-control input:checked + .slider {
      background-color: #34343e; }
    .switch-control input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    .switch-control input:checked + .slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(16px); }
  .switch-control .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px; }
    .switch-control .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }

.isTitleBar .main {
  padding-top: 86px; }

.isTitleBar .navbar {
  top: 22px; }

.title-bar-win .title-bar {
  height: 32px; }
  .title-bar-win .title-bar .win-controls {
    margin-top: 10px; }

.title-bar-win .main {
  padding-top: 96px; }

.title-bar-win .navbar {
  top: 32px; }

.title-bar {
  height: 22px;
  background-color: #474b4b;
  margin: 0px;
  width: 100%;
  position: fixed;
  z-index: 1001;
  -webkit-app-region: drag; }
  .title-bar .controls {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 8px;
    width: 52px;
    justify-content: space-between; }
    .title-bar .controls.win-controls {
      float: right;
      margin-right: 16px;
      width: 65px; }
      .title-bar .controls.win-controls .button.close {
        order: 3; }
        .title-bar .controls.win-controls .button.close .icon {
          width: 13px;
          height: 13px;
          object-fit: contain;
          background-image: url("../../assets/img/win-close-ic.svg");
          background-size: cover; }
      .title-bar .controls.win-controls .button.hidden {
        order: 1; }
        .title-bar .controls.win-controls .button.hidden .icon {
          width: 12px;
          height: 2px;
          object-fit: contain;
          background-image: url("../../assets/img/win-minimize-ic.svg");
          background-size: cover; }
      .title-bar .controls.win-controls .button.resize {
        order: 2; }
        .title-bar .controls.win-controls .button.resize .icon {
          width: 12px;
          height: 12px;
          object-fit: contain;
          background-image: url("../../assets/img/win-expand-ic.svg");
          background-size: cover; }
    .title-bar .controls.osx-controls .button {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: #d3d3d3;
      border-image-source: linear-gradient(to bottom, #b1b0b1, #b0b0b0); }
      .title-bar .controls.osx-controls .button.close {
        background-color: #ff6059;
        border-image-source: linear-gradient(to bottom, #e1453f, #e0443e); }
      .title-bar .controls.osx-controls .button.hidden {
        background-color: #ffbe2f;
        border-image-source: linear-gradient(to bottom, #dfa023, #df9f22); }
      .title-bar .controls.osx-controls .button.resize {
        background-color: #2aca41;
        border-image-source: linear-gradient(to bottom, #1bac2c, #1bac2c); }
    .title-bar .controls.osx-controls:hover .close {
      background-image: url("../../assets/img/close-hover.svg");
      width: 12px;
      height: 12px;
      background-size: cover; }
    .title-bar .controls.osx-controls:hover .hidden {
      background-image: url("../../assets/img/minimize-hover.svg");
      width: 12px;
      height: 12px;
      background-size: cover; }
    .title-bar .controls.osx-controls:hover .resize {
      background-image: url("../../assets/img/expand-hover.svg");
      width: 12px;
      height: 12px;
      background-size: cover; }
      .title-bar .controls.osx-controls:hover .resize.osx-fullscreen {
        background-image: url("../../assets/img/expand-2-hover.svg");
        width: 12px;
        height: 12px;
        background-size: cover; }

.select {
  position: relative;
  outline: none;
  margin-top: 16px;
  margin-right: 18px; }
  .select .value {
    opacity: 0.5;
    display: block;
    position: relative;
    font-family: MuseoSansCyrl500;
    font-size: 14px;
    color: #1f202a;
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap; }
    .select .value::before {
      content: "";
      position: absolute;
      background: url(../../../../src/renderer/assets/img/arrow_down.svg);
      background-size: cover;
      width: 11.5px;
      height: 7px;
      top: 8px;
      right: 0px;
      z-index: 1;
      color: #bbbbbb;
      line-height: 40px;
      font-size: 14px; }
  .select .list {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background: #fff;
    opacity: 1;
    outline: none;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 2; }
    .select .list ul {
      display: block;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7; }
      .select .list ul li {
        display: block;
        list-style: none;
        font-family: MuseoSansCyrl500;
        font-size: 14px;
        color: #1f202a;
        padding: 9px 18px;
        cursor: pointer;
        position: relative; }
      .select .list ul.selected::before {
        content: "";
        position: absolute;
        background: url(../../../../src/renderer/assets/img/selected-ic.svg);
        background-size: cover;
        width: 11.5px;
        height: 7px;
        top: 17px;
        right: 18px;
        z-index: 1;
        color: #000;
        line-height: 40px;
        font-size: 14px; }

.select-offer {
  padding: 0 18px;
  margin: 0; }
  .select-offer .value-offer {
    opacity: 1;
    width: 17px; }
    .select-offer .value-offer::before {
      content: none !important; }
  .select-offer .list-offer {
    width: calc(100%);
    top: -9px;
    left: 0; }
    .select-offer .list-offer ul li {
      padding: 9px 18px; }
    .select-offer .list-offer ul .selected-offer {
      background-color: #f0f0f0 !important; }
      .select-offer .list-offer ul .selected-offer::before {
        content: none !important; }

.list-offer-sort {
  width: 187px !important; }

.value-offer-sort {
  width: 100% !important; }

.list-offer-sort {
  width: 190px; }

.select.select-curency {
  margin: 0;
  padding-left: 4px;
  width: 45px;
  opacity: 1; }
  .select.select-curency .value {
    opacity: 1;
    color: #34343e;
    font-family: MuseoSansCyrl300; }
  .select.select-curency :before {
    top: 6px;
    background: url(../../../../../static/img/curency-expand-arrow.svg);
    background-size: cover;
    width: 9px;
    height: 5px; }
  .select.select-curency .list.list-select {
    width: 90px; }
    .select.select-curency .list.list-select ul li::before {
      top: 14px; }

.notifPanel div {
  font-family: MuseoSansCyrl500;
  height: 54px !important;
  justify-content: center !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  color: #f7f7f7 !important; }

.notifPanel .error {
  background: rgba(217, 63, 31, 0.8) !important; }

.notifPanel .success {
  background: rgba(10, 169, 74, 0.8) !important; }
